.result {
  width: 25%;
  min-width: 320px;
  margin: auto;
  height: 320px;
}

.result .card-header {
  text-align: center;
}

.result .card-block {
  height: 100%;
  display: flex;
}

.result .points {
  margin: auto;
  font-size: 3rem;
  text-align: center;
  color: #28a745;
}
