<div class="step-controls card">
  <div class="card-block">
    <button class="btn btn-primary back" [disabled]="!currentIndex" (click)="handleBack()">< Back</button>
    <button class="btn btn-primary next" (click)="handleNext()">{{ currentIndex < (total - 1) ? 'Next >' : 'Done'}}</button>
  </div>
</div>
