<div class="about-page card">
  <div class="card-block">
    <p>
      A quiz is a form of game or mind sport, in which the players (as individuals or in teams) attempt to answer
      questions correctly. It is a game to test your knowledge about a certain subject. In some countries, a quiz is
      also a brief assessment used in education and similar fields to measure growth in knowledge, abilities, and/or
      skills.
    </p>
    <p>
      Quizzes are usually scored in points and many quizzes are designed to determine a winner from a group of
      participants – usually the participant with the highest score.
    </p>
  </div>
</div>
