<div class="manage-question-page card">
  <div class="card-head">Question management page</div>
  <div class="card-body">
    <div *ngIf="!questions.length">
      Any questions don't exist
    </div>
    <editable-question
      *ngFor="let question of questions"
      [question]="question"
      (onUpdate)="handleUpdate()">
    </editable-question>
  </div>
  <div class="controls">
    <button class="btn btn-primary add" (click)="addQuestion('add-question')">Add new question <i class="fas fa-plus-circle"></i></button>
  </div>
  <modal-process-question id="add-question"></modal-process-question>
</div>
