<modal-container id="{{id}}" title="Question remove confirmation">
  <div class="modal-remove-question">
    <p>Do you want to confirm?</p>
    <div class="controls">
      <button type="button" class="btn btn-default" (click)="declineRemove()" >No</button>
      <button type="button" class="btn btn-danger" (click)="confirmRemove()" >Yes</button>
    </div>
  </div>
</modal-container>
