<div *ngIf="!done" class="quiz">
  <div *ngIf="!questions.length">
    Any questions don't exist
  </div>
  <div *ngIf="questions.length">
    <h4 class="quiz-title">
      Quiz: question {{ index + 1 }} (of {{ questions.length }})
    </h4>
    <question [question]="questions[index]" (onCheckAnswer)="handleCheckAnswer($event)"></question>
    <step-controls
      [currentIndex]="index"
      [total]="questions.length"
      (onBack)="handleBack()"
      (onNext)="handleNext()"
    ></step-controls>
  </div>
</div>
<div *ngIf="done" class="quiz-result">
  <result [points]="points"></result>
</div>
