<div class="modal-container">
  <ng-template #templateRemove>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{title}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRemoveRef.hide()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </ng-template>
</div>
