<div class="question-creator-editor">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="question-enter">
      <label for="questionName">Question text:</label>
      <input type="text"
             id="questionName"
             placeholder="Question..."
             formControlName="question">
    </div>
    <div class="answers-container">
      <ul class="list-group" formArrayName="variantsOfAnswer">
        <div *ngFor="let answerControl of questionForm.controls['variantsOfAnswer'].controls; let i = index">
          <div class="group-item" formGroupName="{{i}}">
            <div class="fields">
              <div class="field">
                <input type="radio" [formControl]="questionForm.controls['answer']" value="{{answerControl.value.id + ''}}">
                <input type="text"
                       placeholder="It's true or not?"
                       formControlName="text">
                <div class="btn" (click)="removeAnswer(i)"><i class="fa fa-times-circle"></i></div>
              </div>
            </div>
          </div>
          <div class="vertical-line"></div>
        </div>
        <div class="add-answer-wrapper">
          <button class="btn btn-primary add-answer-button" tabindex="0" type="button" (click)="addAnswer()">
            <div class="visible content"><i class="fas fa-plus"></i></div>
            <div class="hidden content">
              <i class="plus icon"></i>
            </div>
          </button>
        </div>
      </ul>
    </div>
    <div class="controls">
      <button class="btn" (click)="handleClose()">Cancel</button>
      <button class="btn btn-success" type="submit" [disabled]="!questionForm.valid">Save</button>
    </div>
  </form>
</div>
