.question-enter > *{
  display: inline-block;
  width: 100%;
}

.answers-container {
  padding: 1rem 0;
}

.answers-container .btn {
  cursor: pointer;
}

.question-creator-editor .controls {
  text-align: right;
}
