<div *ngIf="question" class="question card">
  <h5 class="card-header">{{ question.question}}</h5>
  <div class="card-block">
    <ul class="list-group">
      <li
        *ngFor="let answer of question.variantsOfAnswer"
        class="list-group-item list-group-item-action"
        [class.active]="answer.checked"
        (click)="handleCheckAnswer(answer.id)"
      >
        <label>{{answer.text}}</label>
      </li>
    </ul>
  </div>
</div>
