<div class="editable-question card">
  <div class="action-icons">
    <div class="icon-container" (click)="editQuestion('process-question-' + question.id)">
      <i class="fas fa-pencil-alt"></i>
    </div>
    <div class="icon-container" (click)="deleteQuestion('remove-question-' + question.id)">
      <i class="fas fa-times"></i>
    </div>
  </div>
  <question [question]="question"></question>
  <modal-remove-question id="{{'remove-question-' + question.id}}" [question]="question"></modal-remove-question>
  <modal-process-question id="{{'process-question-' + question.id}}" [question]="question"></modal-process-question>
</div>
