.editable-question {
  position: relative;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 520px;
  background-color: #167bff0a;
}

.action-icons {
  position: absolute;
  right: 0;
}

.action-icons > * {
  padding: .25rem;
  margin: .25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
}

.action-icons > *:hover {
  background-color: #515151;
  color: #dfdfdf;
}
