<div class="navigation card header">
  <div class="card-block">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a routerLink="/quiz" class="nav-link" routerLinkActive="active">Quiz</a>
        </li>
        <li class="nav-item">
          <a routerLink="/questions_editor" class="nav-link" routerLinkActive="active">Manage questions</a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link" routerLinkActive="active">About</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
